{% extends 'student/books-list.html' %}

{% block title %}
<title>教材征订系统—学生端</title>
{% endblock %}

{% block content %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl" style="font-size: 26px;color: #3599d6;">修改个人密码</div>
                </div>
                <div class="widget-body am-fr">
                    <form action="{% url 'student_pwd' %}" method="POST" class="am-form tpl-form-line-form">
                        {% csrf_token %}
                        <div class="am-form-group">
                            <label for="old_pwd" class="am-u-sm-3 am-form-label" style="font-size: 25px;">原密码：</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="oldPwd" id="old_pwd" style="width:300px;font-size: 20px;" maxlength="10" placeholder="请输入原密码：">
                                <small>请输出登录时的密码！</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="new_pwd" class="am-u-sm-3 am-form-label" style="font-size: 25px;">新密码：</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="newPwd" id="new_pwd" style="width:300px;font-size: 20px;" maxlength="15" placeholder="请输入新密码：">
                                <small>新密码的长度为6-15个字符。</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="twice_pwd" class="am-u-sm-3 am-form-label" style="font-size: 25px;">确认密码：</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="twicePwd" id="twice_pwd" style="width:300px;font-size: 20px;" maxlength="15" placeholder="确认新密码：">
                                <small>请再次输入一次新密码。</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3" style="font-size: 25px;">
                                <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
